{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Confirm the patient's address – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/live-version02/errors/save-task-list-error" method="post">
            <div class="govuk-width-container">
                <div class="govuk-form-group">
                    <h1 class="govuk-heading-l">
                        Confirm the patient's address
                    </h1>
                    <p>5 addresses found for SU1 5AS and 17. <a href="">Search again</a></p>
                    <div class="govuk-inset-text">
                        Ashford Health Clinic<br>London Road<br>Ashford<br>TW1 3AA
                    </div>
                </div>

                <!-- Submit button -->
                <div class="govuk-button-group">
                    <button id="" class="govuk-button" data-module="govuk-button" onclick="save()"><input type="hidden" name="patientAddressComplete" value="yes">
                        Use this address</button>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="usedifferentaddress"><a id="differentaddresslink" class="govuk-link"
                            rel="external" href="">Use a different address</a></label>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="cannotfindaddress"><a id="postcodefinderlink" class="govuk-link"
                            rel="external" onclick="enterAddressManually()" href="">Enter the patient’s address
                            manually</a></label>
                </div>
            </div>
        </form>
    <div class="govuk-!-padding-bottom-6"></div>
        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                     <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
               <p class="govuk-body"><a class="govuk-link"
                    href="/live-version02/contact/contact-us-2.html">Contact DWP</a> if you have questions about sending an SR1 form.</p>
                </div>
                        <!--Feedback-->
            </div>
            <br>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
        </section>

    </div>
</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
      //savePatientAddressSR1Formliveversion01();
  
      const origin = window.location.origin;
      const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");
  
      window
        .location
        .replace(url.toString());
    }
  </script>
{% endblock %}