{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
What is the patient’s date of birth? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="sendAnSR1Form" action="find-patient-address" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="patient-dateofbirth-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                    What is the patient’s date of birth?
                    </h1>
                  </legend>
                  <div id="patient-dateofbirth-hint" class="govuk-hint">
                    For example, 27 3 2007
                  </div>
                  <div class="govuk-date-input" id="patient-dateofbirth" name="patientdateofbirth" value="{{data['patientdateofbirth']}}">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="patientdateofbirthday">
                          Day
                        </label>
                        <input autocomplete="off" value="" class="govuk-input govuk-date-input__input govuk-input--width-2" id="patient-dateofbirth-day" name="patientdateofbirthday" value="{{data['patientdateofbirthday']}}" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="patientdateofbirthmonth">
                          Month
                        </label>
                        <input autocomplete="off" value="" class="govuk-input govuk-date-input__input govuk-input--width-2" id="patient-dateofbirth-month" name="patientdateofbirthmonth" value="{{data['patientdateofbirthmonth']}}" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="patientdateofbirthyear">
                          Year
                        </label>
                        <input value="" class="govuk-input govuk-date-input__input govuk-input--width-4" id="patient-dateofbirth-year" name="patientdateofbirthyear" value="{{data['patientdateofbirthyear']}}" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="savePatientBirthSR1Formliveversion01()">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;"
                    aria-label="Return to SR1 form sections" href="">Return to SR1 form sections</a>
            </div>
        </form>
            <div class="govuk-!-padding-bottom-6"></div>
        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                     <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
               <p class="govuk-body"><a class="govuk-link"
                    href="/live-version02/contact/contact-us-2.html">Contact DWP</a> if you have questions about sending an SR1 form.</p>
                </div>
                        <!--Feedback-->
            </div>
            <br>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
        </section>

    </div>
</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //savePatientNameSR1Formliveversion01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>


{% endblock %}