{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Find the patient’s address – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="patient-address-results" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l"> Question 3 of 4</span>-->
                        <h1 class="govuk-fieldset__heading">
                            Find the patient’s address
                        </h1>
                    </legend>

                    <!-- Patient postcode -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="patient-postcode">Postcode</label>
                        <div id="enter-a-postcode" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                            For example, SW1A 2AA.
                        </div>
                        <input value="" aria-describedby="Enter a postcode" autocomplete="patient-postcode"
                            class="govuk-input govuk-input--width-10" id="patient-postcode" name="patient-postcode" value="{{data['patient-postcode']}}""
                            type="text" spellcheck="false">
                    </div>
                    <!-- Building number -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="buildingnumber">Building number or name (optional)</label>
                        <div id="enterbuildingnumber" class="gem-c-hint govuk-hint govuk-!-margin-bottom-3">
                            For example, 15 or Prospect Cottage.
                        </div>
                        <input aria-describedby="Enter a postcode" autocomplete="patientBuilding"
                            class="govuk-input govuk-input--width-10" id="patient-building" name="patient-building" value="{{data['patient-building']}}"
                            type="text" spellcheck="false">
                    </div>
                </fieldset>
            </div>


            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button"
                    onclick="savePostcodeSR1Formliveversion01()">
                    Find address
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;"
                    aria-label="Return to SR1 form sections" href="">Return to SR1 form sections</a>
            </div>
            <!-- <p class="govuk-body"><a id="postcode-finder-link" class="govuk-link" rel="external" href="https://www.royalmail.com/find-a-postcode" target="_blank">Find a postcode on Royal Mail's postcode finder (open in a new tab)</a></p> -->
            <div class="govuk-form-group">
                <label class="govuk-label" for="cannotfindaddress"><a id="postcodefinderlink" class="govuk-link"
                        rel="external" href="">Enter the patient’s address
                        manually</a></label>
            </div>
        </form>
     <div class="govuk-!-padding-bottom-6"></div>
        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                     <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
               <p class="govuk-body"><a class="govuk-link"
                    href="/live-version02/contact/contact-us-2.html">Contact DWP</a> if you have questions about sending an SR1 form.</p>
                </div>
                        <!--Feedback-->
            </div>
            <br>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //savePostcodeSR1Formliveversion01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

        window
            .location
            .replace(url.toString());
    }
</script>
{% endblock %}