{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
What is the patient's name? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="sendAnSR1Form" action="date-of-birth" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l"> Question 1 of 4</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What is the patient's name?
                        </h1>
                    </legend>

                    <!-- Full name -->
                    <div class="govuk-form-group">
                        <!--<span class="govuk-visually-hidden">Patient </span>--><label class="govuk-label" for="PatientFirstName">First name</label>
                        <input value="" autocomplete="off" class="govuk-input" id="patient-first-name" name="PatientFirstName" value="{{data['PatientFirstName']}}"
                            type="text" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                        <!--<span class="govuk-visually-hidden">Patient </span>--><label  class="govuk-label" for="PatientLastName">Last name</label>
                        <input autocomplete="off" value="" class="govuk-input" id="patient-last-name" name="PatientLastName" value="{{data['PatientLastName']}}"
                            type="text" spellcheck="false">
                    </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="savePatientNameSR1Formliveversion01()">
                    Continue
                </button>
                <a class="govuk-link" onclick="" style="color:#1d70b8;"
                    aria-label="Return to SR1 form sections" href="">Return to SR1 form sections</a>
            </div>
        </form>
    <div class="govuk-!-padding-bottom-6"></div>
        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                     <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
               <p class="govuk-body"><a class="govuk-link"
                    href="/live-version02/contact/contact-us-2.html">Contact DWP</a> if you have questions about sending an SR1 form.</p>
                </div>
                        <!--Feedback-->
            </div>
            <br>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
        </section>

    </div>
</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //savePatientNameSR1Formliveversion01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}