{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
What is the patient’s diagnosis? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="date" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"
                        for="the-diagnosis">
                        <h1 class="govuk-label-wrapper">
                            <!--<span class="govuk-caption-l">Question 1 of 6</span>-->
                            <label class="govuk-label govuk-label--l" for="the-diagnosis">
                                What is the patient’s diagnosis?
                            </label>
                        </h1>
                    </legend>
                    <!--<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l"> Question 1 of 6</span>
                        <h1 class="govuk-fieldset__heading">
                            What is the patient’s diagnosis?
                        </h1>
                    </legend>-->

                    <!-- What is the diagnosis? -->
                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="350">
                        <div class="govuk-form-group"> 
                            <textarea class="govuk-textarea  govuk-js-character-count"
                                 id="the-diagnosis" name="the-diagnosis" value="{{data['the-diagnosis']}}" rows="5"
                                aria-describedby="whatIsTheDiagnosis-info">{{data['the-diagnosis']}} </textarea>
                        </div>
                        <div id="the-diagnosis-info" class="govuk-hint govuk-character-count__message">You can
                            enter up to 350 characters</div>
                    </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveDiagnosisSR1Formliveversion01()">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to SR1 form sections" href="">Return to SR1 form sections</a>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>
        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                     <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
               <p class="govuk-body"><a class="govuk-link"
                    href="/live-version02/contact/contact-us-2.html">Contact DWP</a> if you have questions about sending an SR1 form.</p>
                </div>
                        <!--Feedback-->
            </div>
            <br>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
        </section>


    </div>
</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveDiagnosisSR1Formliveversion01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}