{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Check your answers before sending the SR1 form – Save your details – – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" action="/live-version02/dashboard/your-account" method="post" autocomplete="off">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-heading-l">
                            Check your details
                        </h1>
                    </legend>

                   

                    <!-- ############## -->
                    <!-- YOUR DETAILS -->
                    <!-- ############## -->
                  

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9" id="yourDetailsData">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                             {{data['HCPfirstname']}} {{data['HCPlastname']}} 
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/live-version01/save-your-details/confirm-your-name">
                                    Change<span class="govuk-visually-hidden"> your name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Role
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if data.yourRolename %}
                                {{ data.yourRolename }}
                              {% else %}
                                {{ data.yourRole }}
                              {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/live-version01/save-your-details/role">
                                    Change<span class="govuk-visually-hidden"> your role</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Professional registration number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['HCPRegistrationNumber']}} {{data['HCPRegistrationnumbersaved']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/live-version01/save-your-details/professional-registration-number">
                                    Change<span class="govuk-visually-hidden"> your professional registration
                                        number</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Phone number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{data['HCPmobileNumber']}} 
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/live-version01/save-your-details/organisation-phone-number">
                                    Change<span class="govuk-visually-hidden"> your phone number</span>
                                </a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Organisation’s address
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div>Ashford Health Clinic</div>
                                <div>London Road</div>
                                <div>Ashford</div>
                                <div>TW1 3AA</div>
                            </dd>
                                    <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="/live-version01/save-your-details/find-organisation-address">
                                    Change<span class="govuk-visually-hidden"> your organisation's address</span>
                                </a>
                            </dd>
                        </div>
                    </dl>
                  
                    
                   

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick=storePage() >
                    Return to your account
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Delete your details" href="/live-version02/save-your-details/delete-your-details">Delete your details</a>
            </div>

        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                   href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
            </div>
        </section>

    </div>

</div>
{% endblock %}