{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Confirm your name – Save your details – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<form class="form" action="/live-version02/save-your-details/your-name-answer" method="post" id="hcpnamechoice" name="profileDetails">

  
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
           Is your name Nelson Noah?
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
            This is the name linked to your current organisation's account details. 
          </div>
  
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          {% if data['hcpname']=='Yes' %}
          <div class="govuk-radios__item">
            <input
            class="govuk-radios__input"
            id="hcpname-yes" 
            name="hcpname"
            type="radio"
            value="Yes"
            checked
          
            >
            {% else%}
            <div class="govuk-radios__item">
              <input
              class="govuk-radios__input"
              id="hcpname-yes" 
              name="hcpname"
              type="radio"
              value="Yes"
              >

            {% endif %}
             <label class="govuk-label govuk-radios__label" for="hcpname-yes">Yes</label>
             
          </div>
          <div class="govuk-radios__item">
            {% if data['hcpname']=='No' %}
            <input 
            class="govuk-radios__input"
            id="hcpname-no"
            name="hcpname"
            type="radio"
            value="No"
            checked
            >
            {% else%}
            <input 
            class="govuk-radios__input"
            id="hcpname-no"
            name="hcpname"
            type="radio"
            value="No"
           >
            {% endif %}
            <label class="govuk-label govuk-radios__label" for="hcpname-no">No</label>
          </div>
        </div>
     
      </fieldset>
    </div>
  
    <div class="govuk-button-group">
      <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button> 
       <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to your account" href="#">Return to your account</a>
    </div>
  </form>

  <div class="govuk-!-padding-bottom-6"></div>

<!--Get help new-->
<hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
<section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
          <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>

                     <p class=govuk-body><a
           href="">Contact us</a></p>

                 
                   
                </div>
                        <!--Feedback-->
            <br>
                <!--Feedback-->
    </div>
                <br>

    <h2 class="govuk-heading-m">Give feedback</h2>
    <p class=govuk-body><a
           href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
            did you think of this service?</a></p>

</section>

</div>

{% endblock %}

