{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Confirm your organisation’s address – Save your details – – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="sendAnSR1Form" action="/live-version02/save-your-details/check-your-answer" method="post">
            <div class="govuk-width-container">
                <div class="govuk-form-group">
                        <h1 class="govuk-heading-l">
                            Confirm your organisation’s address
                        </h1>
                        <p>5 addresses found for TW1 3AA. <a href="/live-version02/save-your-details/find-organisation-address">Search again</a></p>
                        <div class="govuk-inset-text">
                            Ashford Health Clinic<br>London Road<br>Ashford<br>TW1 3AA
                        </div>
                </div>

                <!-- Submit button -->
                <div class="govuk-button-group">
                    <button id="" class="govuk-button" data-module="govuk-button"
                        onclick="saveAddressliveversion01(); resetChangeFn();">Use this address</button>
                    <!--<a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;"
                        aria-label="Return to your account">Return to your account</a>-->
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="use-different-address"><a id="different-address-link" class="govuk-link"
                            rel="external" href="/live-version02/save-your-details/organisation-address-results">Use a different address</a></label>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="cannot-find-address"><a id="postcode-finder-link" class="govuk-link"
                            rel="external" onclick="enterOrgAddressManually()" href="/live-version02/save-your-details/enter-organisation-address">Enter
                            your organiation’s address
                            manually</a></label>
                </div>
            </div>
        </form>
        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                    href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
        </section>

    </div>
</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //savePatientAddressSR1Formliveversion01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

        window
            .location
            .replace(url.toString());
    }
</script>
{% endblock %}