{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
Enter your organisation’s address – Save your details – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="profileSetupPage" name="profileDetails"
      action="/live-version02/save-your-details/confirm-organisation-address" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <!--<span class="govuk-caption-l">Question 5 of 5</span>-->
            <h1 class="govuk-fieldset__heading">
              Enter your organisation’s address
            </h1>
          </legend>
          <div id="organisationName-hint" class="govuk-hint">This could be your Trust, Clinical Commissioning Group
            (CCG), or surgery. </div>
          <!-- Building and street -->
          <div class="govuk-form-group">
            <label class="govuk-label" for="organisationName">
              Organisation name
            </label>
            <input class="govuk-input" id="organisationName" name="organisationName" type="text" autocomplete="off">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="organisationAddressLine1">
              Address line 1
            </label>
            <input class="govuk-input" id="organisationAddressLine1" name="organisationAddressLine1" type="text"
              autocomplete="off">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="organisationAddressLine2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input" id="organisationAddressLine2" name="organisationAddressLine2" type="text"
              autocomplete="off">
          </div>

          <!-- Town or city -->
          <div class="govuk-form-group">
            <label class="govuk-label" for="organisationTownCity">Town or city</label>
            <input class="govuk-input govuk-!-width-two-thirds" id="organisationTownCity" name="organisationTownCity"
              type="text" autocomplete="off">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="organisationAddressCounty">
              County (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="organisationAddressCounty"
              name="organisationAddressCounty" type="text">
          </div>

          <!-- Postcode -->
          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">Postcode</label>
            <div id="postcode-hint" class="govuk-hint">
              For example, AA3 1AB.
            </div>
            <input class="govuk-input govuk-input--width-10" id="postcode" name="postcode" type="text"
              autocomplete="off">
          </div>
        </fieldset>
      </div>


      <!-- Submit button -->
      <div class="govuk-button-group">
        <button id="" class="govuk-button" data-module="govuk-button"
          onclick="saveHCPOrgAddressliveversion01(); resetChangeFn();">Continue
        </button>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="find-patient-address"><a id="postcode-finder-link" class="govuk-link"
            rel="external" href="/live-version01/save-your-details/find-organisation-address">Find your organisation’s
            address</a></label>
      </div>
    </form>

    <div class="govuk-!-padding-bottom-6"></div>

    <!--Get help new-->
    <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
    <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Get help</h2>
          <p class="govuk-body">Email: <a class="govuk-link"
              href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a>
          </p>
          <p class="govuk-body">We aim to respond within 3 working days.</p>

          <div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                did you think of this service?</a></p>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>

<script>
  // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
  const saveAndLeave = () => {
    //saveHCPOrgAddressliveversion01();

    const origin = window.location.origin;
    const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

    window
      .location
      .replace(url.toString());
  }
</script>
{% endblock %}