{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
What is your name? – Save your details – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profileSetupPage" name="profileDetails" action="/live-version02/save-your-details/role" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <!--<span class="govuk-caption-l">Question 1 of 5</span>-->
                        <h1 class="govuk-fieldset__heading">
                            What is your name?
                        </h1>
                    </legend>
                    <!-- Full name -->
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="HCPfirstname">First name</label>
                        <input class="govuk-input" id="hcp-first-name" name="HCPfirstname" value="{{data['HCPfirstname']}}" type="text" autocomplete="off">
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="HCPlastname">Last name</label>
                        <input class="govuk-input" id="hcp-last-name" name="HCPlastname" value="{{data['HCPlastname']}}" type="text" autocomplete="off">
                    </div>

                </fieldset>
            </div>

            <!-- Submit button -->
            <div class="govuk-button-group">
                <button id="" class="govuk-button" data-module="govuk-button" onclick="saveHCPNameliveversion01(); resetChangeFn();">
                    Continue
                </button>
                <a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;" aria-label="Return to your account"
                  href="#">Return to your account</a>
            </div>
        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                   href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>

        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveHCPNameliveversion01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}