{% extends "layout-gov-signed-in-live-version01.html" %}

{% block pageTitle %}
What is your professional registration number? – Send an SR1 medical evidence form – GOV.UK
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form id="profileSetupPage" name="profileDetails" action="/live-version01/your-details/organisation-phone-number" method="post">

            <!-- ERROR STATE -->
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                  <h2 class="govuk-error-summary__title">
                    There is a problem
                  </h2>
                  <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                      <li>
                        <a href="#professionalRegistrationNumber">Enter a valid professional registration number</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            <div class="govuk-form-group govuk-form-group--error">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"
                        for="professionalRegistrationNumber">
                        <h1 class="govuk-label-wrapper">
                            <!--<span class="govuk-caption-l">Question 3 of 5</span>-->
                            <label class="govuk-label govuk-label--l" for="professionalRegistrationNumber">
                                What is your professional registration number?
                            </label>
                        </h1>
                    </legend>
                    

                    <div id="event-name-hint" class="govuk-hint">This is your GMC or NMC number.</div>                   
                    <!--ERROR LEGEND -->
                    <p id="professional-registration-number-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter a valid professional registration number
                    </p>
                    <!-- END ERROR -->
                    <input class="govuk-input govuk-input--width-10 govuk-input--error" id="professionalRegistrationNumber"
                        name="professionalRegistrationNumber" type="text" autocomplete="off">


                </fieldset>
            </div>

            <!-- Submit button -->
       <div class="govuk-button-group" style="align-items: normal;">
                <button id="" class="govuk-button" data-module="govuk-button"  onclick="saveHCPProfessionalNumberliveversion01(); resetChangeFn();">
                  Continue
              </button>
              <a href="/live-version02/dashboard/your-account"> <button type="button" id="" class="govuk-button govuk-button--secondary js-save-later" data-module="govuk-button" onclick="saveHCPProfessionalNumberliveversion01(); resetChangeFn();">
                  Save and complete later
              </button></a> 
              <br>
            </div>
        </form>

        <p class="govuk-body"><a class="govuk-link" onclick="saveAndLeave()" style="color:#1d70b8;"
                    aria-label="Return to SR1 form sections" href="/live-version02/sr1-form-sections">Return to SR1 form sections</a></p>
        <div class="govuk-!-padding-bottom-6"></div>
        </form>

        <div class="govuk-!-padding-bottom-6"></div>

        <!--Get help new-->
        <hr class="govuk-section-break govuk-section-break--visible" aria-hidden="true">
        <section class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7 ">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">Get help</h2>
                    <p class="govuk-body">Email: <a class="govuk-link"
                            href="mailto:online.sr1@dwp.gov.uk">online.sr1@dwp.gov.uk</a></p>
                    <p class="govuk-body">We aim to respond within 3 working days.</p>
                </div>
                        <!--Feedback-->
            </div>
            <h2 class="govuk-heading-m">Feedback</h2>
            <p class=govuk-body><a
                   href="https://forms.office.com/Pages/ResponsePage.aspx?id=DpxP-knna0i8NIr6EGM3VupINvg8uK9KqwdHnbpPR49UNk5RTE1BQ0JXUEJFVTM5OUs4VFNQM1FINS4u">What
                    did you think of this service?</a></p>
    
        </div>
            </div>
        </section>

    </div>

</div>

<script>
    // get and set in this order - this ensures what is sent in query is the same as what is in the localStorage
    const saveAndLeave = () => {
        //saveHCPProfessionalNumberliveversion01();

        const origin = window.location.origin;
        const url = getUrlWithSR1DataAsQueryParamsliveversion01(origin, "/live-version01/sr1-form-sections");

        window.location.replace(url.toString());
    }
</script>
{% endblock %}