{% extends "layout-gov-name.html" %}
{% block pageTitle %}
Prototypes home - Special Rules for End of Life
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Special Rules for End Life Prototypes</h1>
    <!-- <p class="govuk-body-l">Below are a collection of prototypes.</p> -->

    <!-- Current prototype(s) -->
    <!-- #################### -->

     <div class="govuk-width-container govuk-!-margin-bottom-9">

  <h2 class="govuk-heading-l">Research</h2>

<a href="live-version02/dashboard/your-account?demo49=1" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<br>
<br>
      <h2 class="govuk-heading-l">Live</h2>
      <div class="govuk-width-container">
        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--m">Active prototypes</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header ">Details</th>
              <th scope="col" class="govuk-table__header ">Journey</th>
              <th scope="col" class="govuk-table__header ">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">LIVE-01</th>
              <td class="govuk-table__cell "> First iteration since going Public. Changes in iteration: 
                <br>
                <br>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li>
                    Updated Persistent Storage user journey
                  </li>
                  <li>
                    New SYD/CYD feature with the user's details
                  </li>
              </td>
              <td class="govuk-table__cell ">HCP E2E journey</td>
              <td class="govuk-table__cell "><a href="/live-version01/">Prototype</a>
                <br>
                <br>
                <a href="/live-version01/usertesting">User testing</a>
                                <br>
                <br>
                <a href="/live-version01/usertesting/abtesting">A/B testing</a>
              </td>
            </tr>

            
          </tbody>
              <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">LIVE-02</th>
              <td class="govuk-table__cell "> Creation of the new save and return feature: 
                <br>
                <br>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li>
                    Saved forms added to a section of your account
                  </li>
                  <li>
                    Option to save and continue later added to the task list
                  </li>
                   <li>
                    Option to save and continue later added to each question
                  </li>
                  <li>
                    Option to delete saved forms on your account
                  </li>
              </td>
              <td class="govuk-table__cell ">HCP specific flow</td>
              <td class="govuk-table__cell "><a href="/live-version02/dashboard/your-account">Prototype</a>
              
              </td>
            </tr>

            
          </tbody>


</tbody>
              <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">LIVE-03/04</th>
              <td class="govuk-table__cell "> Second iteration of SYD/CYD. Changes in iteration: 
                <br>
                <br>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                  <li>
                    Changed flow when saving details for the first time
                  </li>
                  <li>
                    Changed flow for when returning users want to confirm/change their details
                  </li>
                   <li>
                    New way to save details on the check answers page
                  </li>
                
              </td>
              <td class="govuk-table__cell ">HCP specific flow</td>
              <td class="govuk-table__cell "><a href="/live-version03/dashboard/your-account">First time user</a> <br><br>
                <a href="/live-version04/dashboard/your-account">Returning user</a>
              
              </td>
            </tr>

            
          </tbody>
          


        </table>
      </div>






















      

    <div class="govuk-width-container govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-l">Beta</h2>
      <div class="govuk-width-container">
        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--m">Active prototypes</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header ">Details</th>
              <th scope="col" class="govuk-table__header ">Journey</th>
              <th scope="col" class="govuk-table__header ">User</th>
              <th scope="col" class="govuk-table__header ">Forms</th>
              <th scope="col" class="govuk-table__header ">Action</th>
            </tr>
          </thead>


          
          <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">PRIVATE BETA 03</th>
              <td class="govuk-table__cell ">Third iteration post-MVP. Timer was disabled as it has already been tested.
                Added complex questions to Clinical Features and Treatments section. Also added new section to
                confirmation page. We have updated the address look up journey and the routes for each devolved nations.
              </td>
              <td class="govuk-table__cell ">HCP E2E journey</td>
              <td class="govuk-table__cell ">First time</td>
              <td class="govuk-table__cell ">Unlimited time session</td>
              <td class="govuk-table__cell "><a href="/private-beta03/">Open prototype</a>
              </td>
            </tr>
             <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">PRIVATE BETA 02</th>
              <td class="govuk-table__cell ">Second iteration post-MVP including Save your details feature. In progress.
              </td>
              <td class="govuk-table__cell ">HCP E2E journey - No profile creation</td>
              <td class="govuk-table__cell ">First time</td>
              <td class="govuk-table__cell ">Limited time session</td>
              <td class="govuk-table__cell "><a href="/private-beta03/">Open prototype</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">PRIVATE BETA 01</th>
              <td class="govuk-table__cell ">First iteration post-MVP including Address Lookup feature. Completed.</td>
              <td class="govuk-table__cell ">HCP E2E journey - No profile creation</td>
              <td class="govuk-table__cell ">First time</td>
              <td class="govuk-table__cell ">Limited time session</td>
              <td class="govuk-table__cell "><a href="/private-beta01/">Open prototype</a>
              </td>
            </tr>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">MVP 03</th>
              <td class="govuk-table__cell ">Third and final iteration of the MVP design ready for 'Private beta' tech
                handover.<br>Use this version as reference for the final MVP design.<br> It includes improvements driven
                by CASA constraints and by user insights of previous user testing sessions.</td>
              <td class="govuk-table__cell ">HCP E2E journey - No profile creation</td>
              <td class="govuk-table__cell ">First time</td>
              <td class="govuk-table__cell ">Limited time session</td>
              <td class="govuk-table__cell "><a href="/hcp-e2e-journey-mvp03/">Open prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="govuk-width-container govuk-!-margin-bottom-6">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Service unavailable/issues pages</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header ">User need</th>
              <th scope="col" class="govuk-table__header ">Module</th>
              <th scope="col" class="govuk-table__header ">Action</th>
            </tr>
          </thead>
               <tbody class="govuk-table__body">
                     <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">SYD/SYD - feature down</th>
              <td class="govuk-table__cell ">This is shown when the feature that allows you to save, change and delete your details isn't working right now.
              </td>
              <td class="govuk-table__cell ">?</td>
              <td class="govuk-table__cell "><a href="/live-version02/errors/feature-down">Open page</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">There is a problem - save details</th>
              <td class="govuk-table__cell ">This screen can be shown to the user at any point in the journey if the SYD functionality is experiencing technical issues.
              </td>
              <td class="govuk-table__cell ">?</td>
              <td class="govuk-table__cell "><a href="/live-version01/errors/problem-save">Open page</a>
              </td>
            </tr>
          </tbody>
           <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">There is a problem - delete details</th>
              <td class="govuk-table__cell ">This screen can be shown to the user at any point in the journey if the SYD functionality is experiencing technical issues.
              </td>
              <td class="govuk-table__cell ">?</td>
              <td class="govuk-table__cell "><a href="/live-version01/errors/problem-delete">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">No permission</th>
              <td class="govuk-table__cell ">User needs to be told they cannot access as they're not registered with NHS
                England</td>
              <td class="govuk-table__cell ">20</td>
              <td class="govuk-table__cell "><a href="/hcp-e2e-journey-mvp03/no-permission">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">No permission</th>
              <td class="govuk-table__cell ">User needs to be told they don't have the role to access the service</td>
              <td class="govuk-table__cell ">21</td>
              <td class="govuk-table__cell "><a href="/hcp-e2e-journey-mvp03/no-permission-role">Open page</a>
              </td>
            </tr>
          </tbody>
                  <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">No Javascript (Mongo up)</th>
              <td class="govuk-table__cell ">User needs to be told about potential data loss if they are inactive for 30 minutes.</td>
              <td class="govuk-table__cell ">?</td>
              <td class="govuk-table__cell "><a href="/live-version02/errors/java-mongo-task-list">Open page</a>
              </td>
            </tr>
          </tbody>
               </tbody>
                  <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">No Javascript (Mongo down)</th>
              <td class="govuk-table__cell ">User needs to be told about potential data loss if they are inactive for 30 minutes.</td>
              <td class="govuk-table__cell ">?</td>
              <td class="govuk-table__cell "><a href="/live-version02/errors/java-no-mongo-task-list">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Submission not successful</th>
              <td class="govuk-table__cell ">User needs to be told the SR1 form couldn't be sent to DWP</td>
              <td class="govuk-table__cell ">16</td>
              <td class="govuk-table__cell "><a href="/hcp-e2e-journey-mvp03/submission-not-successful">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Sign out</th>
              <td class="govuk-table__cell ">User needs to get a confirmation they've sucessfully signed out of the
                service</td>
              <td class="govuk-table__cell ">12</td>
              <td class="govuk-table__cell "><a href="/hcp-e2e-journey-mvp03/signout">Open page</a>
              </td>
            </tr>
          </tbody>
                 <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Timeout popup</th>
              <td class="govuk-table__cell">A pop up appears to let users extend their session when it is about to end and explain that their answers might be deleted.</td>
              <td class="govuk-table__cell">?</td>
              <td class="govuk-table__cell"><a href="/live-version02/errors/sr1-form-sections-timeout">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Automatically signed out</th>
              <td class="govuk-table__cell">User needs to be informed they've been automatically signed out of the
                session
                after 15 mins of inactivity</td>
              <td class="govuk-table__cell">13</td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-mvp03/signedout">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Page not found (404)</th>
              <td class="govuk-table__cell">User needs to be informed the page doesn't exist</td>
              <td class="govuk-table__cell">22</td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-mvp03/page-not-found">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Service outrage (500)</th>
              <td class="govuk-table__cell">User needs to be informed the service had an outrage and it's not available
                at
                the moment</td>
              <td class="govuk-table__cell">23</td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-mvp03/problem-with-service">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Planned service availability (503)</th>
              <td class="govuk-table__cell">User needs to be informed when the service will be available</td>
              <td class="govuk-table__cell">17</td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-mvp03/service-unavailable">Open page</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Cookies</th>
              <td class="govuk-table__cell">User needs to be informed on the Cookie policy of the service</td>
              <td class="govuk-table__cell">23</td>
              <td class="govuk-table__cell"><a href="/hcp-e2e-journey-mvp03/cookies">Open page</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--<div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">Gov.uk route</h3>
          <p class="govuk-body">
            <a href="/hcp-e2e-journey-mvp03/guidance">Click here</a> to access the page HCP will see if they access
            from GOV.uk (this needs to be implemented in the future).
          </p>
        </div>
      </div>-->


      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m">Error states</h3>
          <p class="govuk-body">
            <a href="/error-states">Click here</a> to access the error states pages.
          </p>
        </div>
      </div>
      <div class="govuk-width-container">
        <table class="govuk-table govuk-!-margin-bottom-6">
          <caption class="govuk-table__caption govuk-table__caption--m">Archived prototypes</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header ">Details</th>
              <th scope="col" class="govuk-table__header ">Journey</th>
              <th scope="col" class="govuk-table__header ">User</th>
              <th scope="col" class="govuk-table__header ">Forms</th>
              <th scope="col" class="govuk-table__header ">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">MVP 02</th>
              <td class="govuk-table__cell ">It included a task list page with 17 'questions'. Iterated to MVP03 to
                improve usability of task list based on CASA requirements and user needs.</td>
              <td class="govuk-table__cell ">HCP E2E journey - No profile creation</td>
              <td class="govuk-table__cell ">First time</td>
              <td class="govuk-table__cell ">Limited time session</td>
              <td class="govuk-table__cell "><a href="/hcp-e2e-journey-mvp02/">Open prototype</a>
              </td>
            </tr>
          </tbody>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">MVP01</th>
              <td class="govuk-table__cell ">Tested with 5 users before tech handover. To be iterated (to MVP02) on the
                back of user insights.</td>
              <td class="govuk-table__cell ">HCP E2E journey - No profile creation</td>
              <td class="govuk-table__cell ">First time</td>
              <td class="govuk-table__cell ">Limited time session</td>
              <td class="govuk-table__cell "><a href="/hcp-e2e-journey-mvp01/">Open prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="govuk-width-container govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-l">Public beta future iterations</h2>
      <div class="govuk-width-container">
        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-table__caption--m">Active prototypes</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prototype</th>
              <th scope="col" class="govuk-table__header ">Details</th>
              <th scope="col" class="govuk-table__header ">Journey</th>
              <th scope="col" class="govuk-table__header ">User</th>
              <th scope="col" class="govuk-table__header ">Forms</th>
              <th scope="col" class="govuk-table__header ">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">BETA 01</th>
              <td class="govuk-table__cell ">Firts iteration post MVP</td>
              <td class="govuk-table__cell ">HCP E2E journey - Profile creation</td>
              <td class="govuk-table__cell ">First time</td>
              <td class="govuk-table__cell ">Limited time session</td>
              <td class="govuk-table__cell "><a href="/#">Open prototype</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-l">Alpha</h2>
    <p><a href="/alpha">These prototypes</a> have been presented to Alpha assessment.</p>
  </div>

  <div class="govuk-width-container govuk-!-margin-bottom-9">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Archived pages</h2>
          <p><a href="/archived-pages">These pages</a> have been tested with users and iterated based on their
            feedback.</p>
        </div>
      </div>
    </main>
  </div>

</div>
{% endblock %}